@import "../../../assets/styles/variables.scss";

.table-statements-mobile {
  display: flex;
  flex: 1;
  background: $secondary !important;
  padding: 0 0.625rem;

  &_group {
    max-width: 100%;

    &_header {
      padding: 0.875rem 0 0.4375rem 0;
      color: $secondary600;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 700;
    }

    &_list {
      .MuiButtonBase-root {
        color: #36383d;
        text-transform: none;

        &:not(:hover) {
          background: $secondary100;
        }

        .table-statements-mobile_group_list_item_date {
          line-height: 0.875rem;
          background-color: $secondary400 !important;
          border-radius: 50%;
          width: 1.875rem;
          height: 1.875rem;
          display: block;
          text-align: center;
          padding: 0.4375rem;
          font-size: 0.75rem !important;
          font-weight: 700;
          margin: auto;

          span {
            font-size: 1.0625rem !important;
            display: block;
          }
        }
      }

      &_item {
        display: flex;
        width: 100% !important;
        box-shadow: 0 0 0.5625rem 0px rgba(220, 224, 231, 0.85);
        background: $secondary100;
        border-radius: 0.3125rem;
        padding: 0.625rem 0px;
        gap: 0.625rem;
        align-items: center;

        &_date {
          background-color: $secondary400 !important;
          border-radius: 50%;
          width: 1.875rem;
          height: 1.875rem;
          display: block;
          text-align: center;
          padding: 0.4375rem;
          font-size: 0.75rem !important;
          font-weight: 700;

          span {
            font-size: 1.0625rem !important;
            display: block;
          }
        }

        &_referance {
          color: #36383d;
          text-transform: uppercase;
          flex: 1;
          font-size: 0.8125rem;
          white-space: nowrap;
          font-weight: 700;
          margin-left: 0px;
        }

        &_amount {
          flex: none !important;
          margin-right: 0px;
        }

        &_chevron {
          flex: none !important;
          display: flex;
          margin-right: 0px;
        }
      }
    }
  }
}
