@import "../../assets/styles/variables.scss";

.contact-us {
  background-image: url(../../assets/img/bg_desktop.png);
  background-size: cover;
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $mobileSize) {
    background-image: none;
  }

  .personal_box {
    flex: none;
    position: relative;
    width: 80%;
    max-height: 18.75rem;
    max-width: 43.75rem;

    .title {
      h1 {
        text-align: center;
        margin: 0;
        font-size: 1.625rem;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    div:not(.title) {
      margin: 0.9375rem 0;

      a {
        font-weight: 700;
      }
    }
  }
}
