#HapBAckend (legacy) Stage
#REACT_APP_BASE_URL=http://31.146.84.222:5000
#HapBAckend Stage
#REACT_APP_BASE_URL=http://31.146.84.222:5080
#HapBAckend (legacy)
#REACT_APP_BASE_URL=http://localhost:5103 
#HapBAckend 
#REACT_APP_BASE_URL=https://testpay.limerick.ie/testhap
#HapBAckend Api Localhost
REACT_APP_BASE_URL=http://localhost:5000
 
REACT_APP_PUBLIC_KEY=6LdWaoonAAAAAOV90YKbPS6C9gmzmLLfDZIB-SI4
REACT_APP_ANDROID_LINK=https://play.google.com/store/apps/details?id=ie.hap.payments
REACT_APP_IOS_LINK=https://apps.apple.com/ie/app/hap-customer-portal/id1571447399
REACT_APP_IDLE=600000
REACT_APP_PASSWORD_MIN_LENGTH=10
REACT_APP_PASSWORD_USE_LOWERCASE=true
REACT_APP_PASSWORD_USE_UPPERCASE=false
REACT_APP_PASSWORD_USE_NUMBERS=true
REACT_APP_PASSWORD_USE_SPECIAL_CHARACTER=false
REACT_APP_PASSWORD_MAX_REPEATING=false
REACT_APP_REFUND_MIN_AMOUNT=50
REACT_APP_DEP_DEFAULT_VALUE=rates
REACT_APP_USE_REFUND_FEATURE=true
REACT_APP_PAYMENT_URL=https://pay.sandbox.realexpayments.com/pay