@import "../../../../assets/styles/variables.scss";

.password-checklist {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 1rem 0;

    li {
      display: flex;
      font-size: 0.9rem;

      i {
        display: flex;
        width: 1.5rem;
        justify-content: center;

        &.fa-check {
          color: $success;
        }

        &.fa-times {
          color: $error;
        }
      }
    }
  }
}
