@import "../../assets/styles/variables.scss";

.invoices-container {
  padding: 30px 0;

  .header-balance-text {
    display: flex;
    justify-content: flex-end;
    color: black;
    opacity: 0.6;
  }

  .header-balance-value {
    display: flex;
    justify-content: flex-end;
    color: black;
    font-weight: bold;
    font-size: 19px;
  }

  .h_title {
    display: flex;
    padding-bottom: 4px;
    font-size: 26px;
    color: #000;
    font-weight: bold;
    margin-left: 35px;

    @media screen and (max-width: $mobileSize) {
      margin-left: 10px;
    }

    p {
      font-weight: 400;
      padding: 0;
      margin: 0;
    }
  }

  .h_title_right {
    justify-content: center;
    align-items: end;

    .print-text {
      margin-left: auto;
    }

    .print_btn {
      margin-left: auto;
      color: $secondary700 !important;
      text-transform: none;
      margin-right: 30px;

      svg {
        fill: $secondary700 !important;
      }
    }
  }

  .personal_box {
    &_filter {
      display: flex;
      gap: 20px;
      align-items: center;

      &_balance {
        flex: 3;
        align-items: end;
        flex-direction: column;
        color: $primary900;
      }

      &_title {
        font-size: 13px;
        margin-right: 23px;
        opacity: 0.6;
      }

      &_value {
        font-size: 26px;
        font-weight: bold;
      }
    }

    &_content {
      margin-top: 20px;

      .rates_invoice_table {
        tr {
          &:nth-child(even) {
            background-color: $secondary200;
          }

          .invoice-no {
            display: flex;
            align-items: center;
            justify-content: start;
            color: $primary700;

            .MuiIconButton-root {
              margin-left: 5px;

              svg {
                color: $secondary600;
              }
            }
          }

          .MuiFormControl-root {
            width: 127px;
          }

          td {
            flex: 1;

            &:nth-child(3) {
              width: 250px;
            }

            &:nth-child(6) {
              width: 40px;
            }
          }
        }
      }

      .balance {
        display: flex;
        flex-direction: column;
        color: $error;
        font-size: 16px;
        font-weight: 300;

        span {
          color: $success;
          font-size: 10px;
        }
      }
    }
  }

  button {
    text-transform: none;
  }
}

.mobile-button {
  background: $secondary;
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  box-shadow: 0 0 9px 0px rgba(220, 224, 231, 0.85);

  button {
    width: 100%;
    padding: 15px;
    box-shadow: 0 0 9px 0px rgba(220, 224, 231, 0.85);
  }
}
