@import "../../../assets/styles/variables.scss";

.table-invoices-mobile {
  background: $secondary !important;
  padding: 0 10px;

  &_group {
    &_header {
      padding: 14px 0 7px 0;
      color: $secondary600;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
    }

    &_list {
      .MuiButtonBase-root {
        //color: #36383d;
        text-transform: none;

        &:not(:hover) {
          background: $secondary100;
        }

        .table-statements-mobile_group_list_item_date {
          line-height: 14px;
          background-color: $secondary400 !important;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          display: block;
          text-align: center;
          padding: 7px;
          font-size: 12px !important;
          font-weight: 700;

          span {
            font-size: 17px !important;
            display: block;
          }
        }
      }

      &_item {
        display: flex;
        width: 100% !important;
        box-shadow: 0 0 9px 0px rgba(220, 224, 231, 0.85);
        background: $secondary100;
        border-radius: 5px;
        padding: 10px 0px;
        align-items: center;
        gap: 10px;
        border-left: 4px solid $secondary100;

        &.selected {
          border-left: 4px solid $primary500;
        }

        &_date {
          margin: auto;
          background-color: $secondary400 !important;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          display: block;
          text-align: center;
          padding: 7px;
          font-size: 12px !important;
          font-weight: 700;
          margin-left: 10px;

          span {
            font-size: 17px !important;
            display: block;
          }
        }

        &_referance {
          color: #36383d;
          text-transform: uppercase;
          flex: 1;
          font-size: 14px;
          white-space: nowrap;
          font-weight: 700;
          align-items: start;
          justify-content: start;
          display: flex;
        }

        &_amount {
          flex: none !important;
          margin-right: 20px;
          line-height: 1;

          .balance {
            align-items: start;
          }
        }

        &_chevron {
          flex: none !important;
          display: flex;
          margin-right: 20px;
        }

        .balance {
          display: flex;
          flex-direction: column;
          color: $error;
          font-size: 16px;
          font-weight: 300;

          span {
            color: $success;
            font-size: 10px;
          }
        }
      }
    }
  }
}
