@import "../../assets/styles/variables.scss";

table {
  margin-bottom: 1.25rem;

  th {
    font-size: 0.8125rem;
    font-weight: 500 !important;
    color: $secondaryGray;
    //  background-color: #f1f3f5 !important;
    border: none !important;
    font-size: 0.875rem;
    color: #3c3e3f;
    font-weight: bold;
    padding: 0.75rem 1.0625rem 0.75rem;
  }

  tbody {
    cursor: pointer;

    .MuiTableRow-root {
      border: 0.0625rem solid $light-gray;
      border-left: 0.0625rem solid transparent;
      border-right: 0.0625rem solid transparent;
      border-top: 0.0625rem solid transparent;

      &:first-child {
        border-top: 0.0625rem solid $light-gray;
      }
    }

    .MuiTableRow-root:hover {
      border: 0.0625rem solid rgba($color: $button-color-main, $alpha: 0.8);
    }

    tr {
      //background: #fbfbfb;
      border: 1.625rem solid $dark-gray;
      border-bottom: 0;
      z-index: 1;

      &:hover {
        background: rgba($color: $button-color-main, $alpha: 0.025);
        border: 0.0625rem solid #e09d8e;
        z-index: 2;
      }
    }

    td {
      border: none !important;
      padding: 0.75rem 1.0625rem 0.75rem;

      &.clr_green {
        color: $success;
      }

      &.text_red {
        color: $error;
      }
    }
  }
}

.MuiTablePagination-root {
  display: flex;
  flex: 1;

  .MuiToolbar-root {
    display: flex;
    flex: 1;
    justify-content: space-between;

    .MuiTablePagination-spacer {
      display: none;
    }
  }
}
