@import "../../assets/styles/variables.scss";

table {
  margin-bottom: 1.25rem;

  th {
    font-size: 0.8125rem;
    font-weight: 400;
    color: $secondaryGray;
    background-color: #f1f3f5 !important;
    border: none !important;
    font-size: 0.875rem;
    color: #3c3e3f;
    font-weight: bold;
    padding: 0.75rem 1.0625rem 0.75rem;
  }

  tbody {
    cursor: pointer;

    .MuiTableRow-root {
      border: 0.0625rem solid #fbfbfb;
      border-bottom: 0;
    }

    .MuiTableRow-root:hover {
      border: 0.0625rem solid #e09d8e;
    }

    tr {
      background: #fbfbfb;
      border: 0.0625rem solid #fbfbfb;
      border-bottom: 0;
      z-index: 1;

      &:hover {
        background: #fdf9f8;
        border: 0.0625rem solid #e09d8e;
        z-index: 2;
      }
    }

    td {
      border: none !important;
      padding: 0.75rem 1.0625rem 0.75rem;

      &.clr_green {
        color: $success;
      }

      &.text_red {
        color: $error;
      }
    }
  }
}
