@import "../../../../assets/styles/variables.scss";

.message {
  overflow: hidden;
  border-bottom: 1px solid $secondary400;
  margin: 0.3125rem 0;
  background: $secondary100;

  &_popup {
    max-width: 31.25rem;
    border-radius: 2rem;
    padding: 1rem;

    .message_date {
      font-size: 0.7em;
      font-weight: 700;
      color: rgba($mid-gray, 0.8);
      text-align: start;
      margin-left: 1.5rem;

      &.read::before {
        content: " ";
        width: 0.5rem;
        margin-right: 0.3rem;
      }

      &.unread::before {
        content: "●";
        color: $primary700;
        margin-right: 0.3rem;
        width: 0.5rem;
      }
    }

    .message_title {
      font-weight: 700;
      color: $secondaryGray600;
      padding-left: 1.5rem;
    }

    .message_body {
      height: 30rem;
      white-space: pre-wrap;
      overflow-y: auto;
      width: calc(100% - 2.7rem) !important;
      padding: 1.5rem;
    }
  }

  &_icon {
    flex: none;
    margin-left: auto;
    color: $secondary600;

    &.unread {
      color: $primary500;
    }
  }

  &_title {
    padding: 0.1875rem 0.9375rem;
    font-weight: 700 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.625rem;

    &.read::before {
      content: " ";
      width: 0.5rem;
    }

    &.unread::before {
      content: "●";
      color: $primary700;

      width: 0.5rem;
    }

    span {
      flex: 1;
    }
  }

  &_date {
    flex: 1;
    color: rgba($mid-gray, 0.8);
    font-size: 0.6em;
    font-weight: 600 !important;
    text-align: right;
  }

  &_body {
    padding: 0rem 2.15rem 0.9375rem;
    font-size: 0.8em;
    text-overflow: ellipsis;
    color: rgba($mid-gray, 0.8);
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
  }
}
