@import "../../../assets/styles/variables.scss";

.admin-password {
  max-width: 40rem;

  h2 {
    font-weight: bold;
  }

  .MuiFormHelperText-root {
    color: $error !important;
  }

  .mfa-control > .MuiFormControl-root > .MuiFormLabel-root {
    font-weight: 600;
  }
}
