@import "../../assets/styles/variables.scss";

.auth-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .auth-form {
    max-height: calc(100vh - 220px);
    position: relative;
    display: flex;
    flex-direction: column;

    width: 420px;
    background: $secondary100;
    justify-content: center;
    border-radius: 13px;
    box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.3);
    background-origin: border-box;
    background-clip: border-box;
    padding: 32px 20px 32px 40px;

    @media screen and (min-height:1005px) {
      padding: 32px 40px;
    }


    .mfa-login {
      margin: auto;
      margin-right: 55px;
      width: 340px;

      input:not([type=radio]) {
        padding-bottom: 0 !important;
        padding-left: 5px !important;
      }

      &__info {
        text-align: start;
        color: #5a5a5a;
        margin-bottom: 20px;
        font-size: 12px;
      }

      &__label {
        font-size: 13px;
        opacity: 0.7;
        font-family: "Roboto", sans-serif;
        margin-bottom: 9px;
        display: block;
      }

      .mfa-ways {
        display: flex;
        flex-direction: column;
      }

      .MuiFormControl-root .MuiInputBase-root {
        height: 42px !important;
      }
    }

    &.forgot-password {
      width: 362px !important;

      input:not([type="radio"]) {
        border-width: 1px;
        border-radius: 4px;
      }

      .account-number::before {
        top: 15px;
      }
    }

    @media screen and (max-width: $mobile_size) {
      box-shadow: none;
      background: none;
    }

    &__container {
      max-height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      padding-right: 20px;
    }

    &__form {
      padding: 30px;
      margin-top: 30px;
      max-height: 100%;
      overflow-y: auto;
    }

    &__logo {
      position: absolute;
      width: 100%;
      right: 0;
      left: 0;
      top: -65px;
      justify-content: center;
      align-items: center;

      img {
        display: flex;
        /* 
        left: 115px;
        top: -100px; */
        margin: auto;
        align-self: center;
        width: 190px;
      }
    }

    &__title {
      color: #000;
      font-size: 23px;
      margin: 5px 0 10px 0;
      font-family: "robotobold";
      text-align: center;
    }

    &__subtitle {
      color: #000;
      font-size: 14px;
      text-align: center;
      line-height: 1.3;
      margin-bottom: 10px;
      margin-left: 30px;
      margin-right: 30px;
    }

    &__input-container {
      position: relative;
      display: block;

      .MuiInputLabel-root {
        left: 15px;

        &.MuiFormLabel-filled {
          top: 0;
          left: 0;
        }

        &.Mui-focused {
          left: 0;
        }
      }

      margin-bottom: 20px;

      &.account-number::before {
        content: "";
        position: absolute;
        left: 5px;
        top: 5px;
        transform: translateY(-50%);
        background: url(../../assets/img/forms/login_acc_num.svg) no-repeat;
        background-size: contain;
        display: flex;
        background-size: contain;
        pointer-events: none;
        width: 20px;
        height: 20px;

        @media screen and (max-width: $mobile_size) {
          top: 16px;
        }
      }

      &.account-password {
        margin-top: 40px;

        @media screen and (max-width: $mobile_size) {
          margin-top: 0px;
        }

        &::before {
          content: "";
          position: absolute;
          left: 5px;
          top: 5px;
          transform: translateY(-50%);
          background: url(../../assets/img/forms/password_acc.svg) no-repeat;
          background-size: contain;
          display: flex;
          background-size: contain;
          pointer-events: none;
          width: 20px;
          height: 20px;

          @media screen and (max-width: $mobile_size) {
            top: 16px;
          }
        }
      }
    }

    input:not([type="radio"]) {
      border-width: 0;
      border-bottom-width: 1px;
      border-radius: 0;
      height: 40px;
      display: block;
      width: 100%;
      padding-left: 30px;
      margin-bottom: 20px;

      @media screen and (max-width: $mobile_size) {
        border-width: 1px;
        border-radius: 4px;
        margin-bottom: 0;
      }
    }

    &__link-holder {
      align-items: center;
      display: flex;
      padding: 20px;
      justify-content: center;
    }

    .lang-dropdown {
      display: flex;
      justify-content: center;
      align-items: center;

      select {
        margin: auto;
        padding: 8px 10px;
        border-radius: 7px;
        font-size: 100%;
      }
    }

    .registration {
      &__input-container {
        margin-bottom: 20px;

        input:not([type="radio"], .registration__phone-input) {
          margin-bottom: 0 !important;
          padding-left: 5px !important;
          height: 42px !important;
        }

        .MuiInputBase-root {
          height: 42px !important;
        }
      }

      &__phone-input {
        border-width: 1px !important;
        width: 420px !important;
        border-radius: 4px !important;
      }

      &__subtitle {
        text-align: start;
        color: #5a5a5a;
        margin-bottom: 20px;
        font-size: 12px;
      }

      &__label {
        position: relative;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        margin-bottom: 9px;
        color: #000;
        display: block;
        opacity: 0.7;

        &.required:before {
          content: " * ";
          color: red;
        }

        &.label-question:after {
          content: "";
          cursor: pointer;
          background-image: url(../../assets/img/info.svg);
          background-size: 100%;
          display: inline-block;
          position: absolute;
          height: 11px;
          margin-top: 2px;
          margin-left: 4px;
          width: 11px;
        }
      }

      form {
        padding: 0 !important;
      }

      &__back {
        opacity: 1 !important;
      }
    }

    .mfa-optgions {
      &__label {
        width: 80%;
        display: inline-block;
        color: black;
        border-width: 1px;
        border-style: solid;
        border-color: black;
        border-image: initial;
        padding: 20px;
        border-radius: 10px;
        margin: 3px;
        white-space: nowrap;

        @media screen and (max-width: $mobile_size) {
          padding: 15px;

          .MuiFormControlLabel-label {

            font-size: 14px;
          }
        }

        &:has(input:checked) {
          background: rgba(210, 84, 34, 0.125);
        }

      }


    }

  }

  .app-icons {
    display: flex;
    justify-content: center;
    align-items: center;

    .android,
    .apple {
      width: 150px;
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #a6abb0;
    background: none;

    a {
      color: #a6abb0;
      text-decoration: underline;
      margin-left: 5px;
    }

    @media screen and (max-width: $mobile_size) {
      color: #54585e;

      a {
        color: #54585e;
      }
    }
  }

  .h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
  }
}