.reset-password {
  width: 22.625rem !important; // 362px
  padding: 1.875rem 0.3125rem; // 30px 5px

  .auth-form__subtitle {
    text-align: center;
    font-size: 0.83em;
    color: #000;
    font-weight: 700;
  }

  .auth-form__form {
    margin-top: 0;
  }

  .password-icon {
    top: 0.6875rem; // 11px
  }

  .auth-form__input-container {
    &.account-password {
      margin-top: 0;
      margin-bottom: 1.875rem; // 30px

      &::before {
        top: 1.25rem; // 20px
      }
    }
  }

  .MuiFormControl-root .MuiInputBase-root {
    border-radius: 0.375rem; // 6px
    height: 2.5rem; // 40px

    input:not([type="radio"]) {
      border-width: 0.0625rem; // 1px
      border-radius: 0.25rem; // 4px
      margin: 0;
    }

    &::before {
      border: none !important;
    }
  }
}
