@import "../../../assets/styles/variables.scss";

.otp-popup {
  position: absolute;
  width: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 22.9375rem;

  label {
    font-size: 0.875rem !important;
  }

  &_send-box {
    button {
      color: $secondary100;
      text-transform: none;
    }
  }

  &_confirm-box {
    padding-right: 0.9375rem;
  }
}
