@import "../../../assets/styles/variables.scss";

.cookie-banner-container {
  position: absolute;
  background-color: $secondary100;
  left: 0;
  right: 0;
  bottom: 0;

  .cookie-banner-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.625rem;
    align-items: center;

    .cookie_info {
      padding-right: 0.9375rem;
      color: $secondaryGray;

      @media screen and (max-width: $mobileSmallSize) {
        padding: 0 0 0.625rem 0;
      }

      .h3 {
        display: block;
        font-size: 1.17em;
        font-weight: bold;
        unicode-bidi: isolate;
        margin: 0 0 0.625rem 0;

        @media screen and (max-width: $mobileSmallSize) {
          text-align: center;
        }
      }

      a,
      p {
        font-size: 0.8125rem;
        margin: 0;
      }

      a {
        text-decoration: underline;
      }
    }

    .cookie-banner-buttons {
      height: 3.125rem;
      border-radius: 0.1875rem;
      color: $secondary100;
      background-color: $primaryBlue;
      min-width: 9.3125rem;
      border: none;
      font-size: 1rem;
      width: 100%;
    }

    @media screen and (max-width: 36.875rem) {
      display: flex;
      flex-direction: column !important;

      .cookie-banner-buttons-container {
        width: 90%;
        margin-bottom: 2.5rem;
      }
    }
  }
}
