@import "variables.scss";
@import "fonts.scss";
@import "forms.scss";

body {
  @include theme;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  line-height: 1.1;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
.link-element {
  color: $primary700;
  text-decoration: none;
  cursor: pointer;
  line-height: 15.4px;
  font-size: 14px;

  p {
    color: $primary700;
  }

  svg {
    fill: $primary700;
    color: $primary700;
  }
}

.link-underline {
  text-decoration: underline !important;
}

.error {
  margin-top: 8px;
  color: $error;
  font-size: 13px;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
  top: -16px;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.h_title {
  display: inline-flex;
  padding-bottom: 4px;
  font-size: 26px;
  color: $primary900;
  font-weight: bold;
}

.personal_box {
  box-shadow: 0 0 9px 0px rgba(220, 224, 231, 0.85);
  border-radius: 11px;
  padding: 20px;
  background: $secondary100;
  margin-bottom: 74px;
  line-height: 1.2;
  max-width: 93%;
  margin: 0 35px;

  @media screen and (max-width: $mobileSize) {
    margin: 0 10px;
  }
}

.page_wrap {
  @media screen and (min-width: $mobileSize) {
    height: 100vh;
    background: $secondary;
    box-sizing: border-box;
    padding: 80px 0 50px 0;
    position: relative;
  }

  &_height {
    box-sizing: border-box;
    max-width: 1040px;
    margin: auto;
    padding-bottom: 1px;

    &_title {
      padding-bottom: 10px;

      @media screen and (min-width: 768px) {
        display: flex;
        margin-top: 4px;
        align-items: center;
        justify-content: space-between;
        padding: 35px 0;
        background: #f5f7fa;
      }

      .policy_title {
        margin-top: 77px;
      }

      .h_title.cookie_title {
        display: block;

        span {
          font-weight: 400;
          font-size: 20px;
        }
      }
    }
  }
}

.clr_black {
  color: #000;
}

.clr_grey {
  color: #7f7f7f;
}

._light_grey {
  background-color: #e0e0e0;
}

.clr_orange {
  color: #ef642d;
}

.clr_green {
  color: $success;
}

.text_red {
  color: $error;
}

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition:
    transform 0.5s,
    opacity 1s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: 0.2;
  transition: 0s;
}

.popup {
  position: absolute;
  background: #fff;
  border: none;
  border-radius: 6px;
  width: 458px;
  min-height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow:
    0 24px 24px 0 rgba(0, 0, 0, 0.3),
    0 0 24px 0 rgba(0, 0, 0, 0.22);
}

.header_links_pay {
  margin-right: 26px;
  width: 156px;
  height: 46px;
  line-height: 46px;
  border-radius: 3px;
  background: rgb(255, 140, 61);
  background: linear-gradient(
    85deg,
    rgba(255, 140, 61, 1) 0%,
    rgba(231, 18, 0, 1) 100%
  );
  color: #fff;
  font-size: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
  text-transform: none;
}
