//colors
$primary_600: rgb(234, 48, 31);
$primary_500: #ef642d;
$primary_400: rgb(246, 162, 96);

$secondary: #f5f7fa;
$error: #ff0000;
$error_border: #d25422;
//size
$mobile_size: 767px;
$placeholder_size: 18px;
